*~
*.iml
*.ipr
*.iws
.gradle
.idea
build
out
nbproject
bin
doc
target
!.gitignore
!.gitmodules
!.mailmap
!.gitattributes
dependency-reduced-pom.xml
.classpath
.settings
.db
.DS_Store
.vscode
/.apt_generated/
/.apt_generated_tests/
/config/
/lib/
/logs/
/worlds/
